
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>
<div>
    @Html.ActionLink("Просмотр анкет", "ShowCandidates", "Adminr")
</div><div>
    @Html.ActionLink("Просмотр вакансий", "ShowVacancies", "Common")
</div><div>
    @Html.ActionLink("Просмотр пользователей", "ShowUsers", "Admin")
</div>
